.container {
  padding-inline: 32px;
  margin-inline: auto;
  max-width: 1300px;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  position: relative;
  z-index: 1; 
}


.brand-name {
  font-size: 1.125rem;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}



@media screen and (width > 1000px) {
  .main-header {
    flex-wrap: nowrap; 
  }

  .notification-buttons {
    margin-left: auto;
  }
}


.navigation-drawer {
  min-height: 100vh;
  width: 200px;
  padding: 20px 10px;
  background-color: #fff;

  position: fixed;
  inset-block-start: 0;
  inset-inline-start: 0;

  box-shadow: 0 0 4px 2px #00000033;
  transform: translateX(-100%);
  transition: transform 350ms;

  z-index: 9999;
}

.navigation-drawer.open {
  transform: translateX(0);
}

.drawer-button {
  padding: 2px;
  border: 0;
  border-radius: 4px;

  display: inline-block;
  background-color: transparent;

  font-weight: bold;
  font-size: 28px;
  color: #141e16;

  cursor: pointer;
}

.nav-list {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 10px 20px;
}

.nav-list li a {
  padding: 6px 10px;

  display: block;

  color: #333;
  text-decoration: none;
}

.nav-list li a:hover {
  text-decoration: underline;
}
.main-content {
  padding: 20px;
}

@media screen and (width > 1000px) {
  .navigation-drawer {
    min-height: auto;
    width: auto;
    padding: 0;
    background-color: transparent;

    flex-direction: row;
    justify-content: space-between;

    position: static;
    box-shadow: none;
    transform: translateX(0);
  }

  .nav-list {
    flex-direction: row;
  }

  .nav-list li a {
    display: inline-block;
  }

  .drawer-button {
    display: none;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

header {
  background: linear-gradient(90deg, #b03052, #d76c82);
  padding: 1rem;
  text-align: center;
  color: white;
  font-size: 1.5rem;
  width: 100%;
  overflow: visible;
}

body {
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

main {
  flex: 1;
  width: 100%;
  padding: 20px 20px;
  max-width: 800px;
}

p {
  margin-top: 4px;
}

.form-container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

textarea {
  padding: 10px;
  margin: 10px 0;
}

video {
  margin: 10px 0;
}

button {
  background-color: #b03052;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #d76c82;
}

#latlon {
  margin-bottom: 20px;
}

footer {
  background: #d76c82;
  color: white;
  padding: 10px;
  text-align: center;
  width: 100%;
  position: relative;
  bottom: 0;
}

#story-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.story-item {
  background: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.story-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

#add-story-btn {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  background: #b03052;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#add-story-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  margin: auto;
}

#map-container {
  margin-top: 30px;
}

#camera {
  width: 100%;
  height: 200px;
  background: black;
}

#photo-preview {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

#map {
  width: 100%;
  height: 300px;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 10px;
  background: #000;
  color: #fff;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 10px;
}

.title {
  font-size: 24px;
  text-align: center;
  color: #b03052;
  margin-bottom: 20px;
}

h2 {
  text-align: center;
  color: #b03052;
  margin-bottom: 20px;
}

.auth {
  max-width: 1000px;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: white;
  padding: 30px;
  text-align: center;
}

::view-transition-old(main),
::view-transition-new(main) {
  animation-duration: 0.1s;
  animation-timing-function: ease-in-out;
}

@keyframes move-out {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes move-in {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

#notification-buttons-container {
  display: flex;
  align-items: center;
}

#subscribe-btn, #unsubscribe-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

#unsubscribe-btn {
  background-color: #dc3545;
}


.skip-to-content {
  position: absolute;
  top: 40px; 
  left: 50%;
  transform: translateX(-50%);
  background: #b03052;
  border: #ddd 1px solid;
  color: white;
  padding: 10px;
  font-size: 16px;
  text-decoration: none;
  border-radius: 5px;
  transition: top 0.3s, opacity 0.3s;
  z-index: 1000;
}
 
.skip-to-content:focus {
  top: 10px;
  opacity: 0;
}
 

